{% extends "site_base.html" %}

{% block body %}
<div id="content-main">
   	<div class="col-md-10 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
		   		<a href="{% url "info.index" %}" class="btn btn-danger large">返回</a>
				<a href="{% url "info.index" %}" class="btn btn-info">
					地区：{{info.info_area}} <span class="badge">42</span>
				</a>
				<a href="{% url "info.index" %}" class="btn btn-info">类别：{{info.info_class}}</a>
			</div>
		</div>
		<br>
	   	<div class="row">
	   		<h2>{{info}}</h2>
		</div>
	   	<div class="row">
	   		<pre style="background-color:white">{{info.content}}</pre>
	   	</div>
	   	<div class="col-md-12 text-right">
			发布时间： {{ info.pub_date|date:"Y M d" }}			
		</div>
   	</div>
</div>
{% endblock %}
