{% extends "info_base.html" %}

{% block body %}
<div id="content-main">
   	<div class="col-md-10 col-md-offset-1">
		<div id="navi" class="row">
            {{from_url}}
	   		<a href="{{from_url}}" class="btn btn-danger large">
	   			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;返回
	   		</a>
	   		<!-- 分类信息 -->
	    	<a href="{% url "info.by_area" info.info_area.pk 1 %}" class="btn btn-info">
	    		地区：{{info.info_area}} <span class="badge">{{area_num}}</span>
	    	</a>
			<a href="{% url "info.by_class" info.info_class.pk 1 %}" class="btn btn-info">
				类别：{{info.info_class}} <span class="badge">{{class_num}}</span>
			</a>
			
			<!-- 收藏信息 -->
			{% if favouriteInfo %}
			<a href="{% url "info.rm_fav" info.pk request.path %}" class="btn btn-default pull-right" 
				data-toggle="tooltip" data-placement="top" title="点击取消">
				已收藏
			</a>
			{% else %}
			<a href="{% url "info.add_fav" info.pk request.path %}" class="btn btn-danger pull-right" 
				data-toggle="tooltip" data-placement="top" title="点击收藏">
				<span class="glyphicon glyphicon-heart"></span>
				 收藏
			</a>
			{% endif %}

            {% comment %}分享到微博{% endcomment %}
            {% with content=info|truncatechars:"80" %}
                <div class="pull-right" style="margin-top: 6px">
                    <wb:share-button appkey="11psLc" addition="number" type="button" default_text="{{ content }}" class="pull-right" ></wb:share-button>
                </div>
            {% endwith %}
		</div>
		<br>
	   	<div class="row">
   			<h2>{{ info.title }}</h2>
		</div>
	   	<div class="row">
	   		<pre style="background-color:white">{{info.content|striptags}}</pre>
	   	</div>
	   	
	   	<div class="row">
	   		<a class="btn btn-default btn-xs pull-right" disabled="disabled">访问次数：{{info.view_times}}</a>
			<a class="btn btn-default btn-xs pull-right" style="margin-right:5px" disabled="disabled">发布时间：{{info.pub_date|date:"Y M d"}}</a>
    	</div>
   	</div>
</div>
{% endblock %}

{% block extra_script %}
    <!-- 激活tooltip -->
	<script type="text/javascript">
	$('.btn-default').tooltip()
	</script>
{% endblock %}