{% extends "site_base.html" %}

{% block body %}

<div id="content-main">

	<!-- search -->
   	<div class="col-md-12" style="margin-top:-30px;margin-bottom:40px">
   		<div class="pull-right">
	   		{% include "info/_search.html" %}
	   	</div>
   	</div>
   	
	<!-- info 列表 -->
   	<div class="col-md-7">
   		{% include "info/_info_list.html"%}
   	</div>
   	
   	<!-- 我的收藏 -->
   	<div class="col-md-4 pull-right">
	    <div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><a>我的收藏</a></h3>
			</div>
			<div class="panel-body">
				{% include "info/_fav_list.html" with user=request.user%}
			</div>
		</div>
   	</div>
   	
   	<!-- 热门职位-->
   	<div class="col-md-4 pull-right">
	    <div class="panel panel-success">
			<div class="panel-heading">
				<h3 class="panel-title"><a>热门职位</a></h3>
			</div>
			<div class="panel-body">
			    {% include "info/_hot_list.html"%}
			</div>
		</div>
   	</div>
   	
    <!-- 分页 -->
    <div id="pagination" class="col-md-8 col-md-offset-2">
		<ul class="pagination">
		
		<!-- index page -->
		{% if query_id == None %}
			{% if page.has_previous %}<li><a href="{% url url_name page.previous_page_number %}">&laquo;</a></li>{% endif %}
			{% for idx in paginator.page_range %}
				<!-- 是否为选中状态 -->
				{% if page.number == idx %}
				<li class="active"><a href="{% url url_name idx %}">{{idx}}</a></li>
				{% else %}
				<li><a href="{% url url_name idx %}">{{idx}}</a></li>
				{% endif %}
			{% endfor %}
   	        {% if page.has_next %}<li><a href="{% url url_name page.next_page_number %}">&raquo;</a></li>{% endif %}
		
		<!-- query page -->
		{% else %}
			{% if page.has_previous %}<li><a href="{% url url_name query_id page.previous_page_number %}">&laquo;</a></li>{% endif %}
			{% for idx in paginator.page_range %}
				<!-- 是否为选中状态 -->
				{% if page.number == idx %}
				<li class="active"><a href="{% url url_name query_id idx %}">{{idx}}</a></li>
				{% else %}
				<li><a href="{% url url_name query_id idx %}">{{idx}}</a></li>
				{% endif %}
			{% endfor %}
   	        {% if page.has_next %}<li><a href="{% url url_name query_id page.next_page_number %}">&raquo;</a></li>{% endif %}
		{% endif %}
		</ul>
	</div>
</div>
{% endblock %}

{% block extra_script %}
    <!-- 激活tooltip -->
	<script type="text/javascript">
	$('.btn-default').tooltip()
	</script>
{% endblock %}