{% extends "site_base.html" %}

{% block body %}
<div id="content-main">
{% if info_list %}
    {% for info in info_list %}
   	<div class="col-md-8 col-md-offset-2">
    	<h3><a href="{% url "info.detail" info.pk request.path %}">{{info}}</a></h3>
    	<h6>{{info.content|truncatechars:200}}</h6>
    	
    	<!-- 分类信息 -->
    	<a href="{% url "info.by_area" info.info_area.pk 1 %}" class="btn btn-info btn-xs">地区：{{info.info_area}}</a>
		<a href="{% url "info.by_class" info.info_class.pk 1 %}" class="btn btn-info btn-xs">类别：{{info.info_class}}</a>
			
    	<!-- 最后一行不用分割线 -->
    	{% if info != info_list|last %}
    		<hr>
    	{% endif %}
   	</div>
    {% endfor %}
    <div id="pagination" class="col-md-8 col-md-offset-2">
		<ul class="pagination">
			<li><a href="{% url url_name query_id prev_page %}">&laquo;</a></li>
			{% for idx in page_range %}
				<!-- 是否为选中状态 -->
				{% if curr_page == idx %}
				<li class="active"><a href="{% url url_name query_id idx %}">{{idx}}</a></li>
				{% else %}
				<li><a href="{% url url_name query_id idx %}">{{idx}}</a></li>
				{% endif %}
			{% endfor %}
			<li><a href="{% url url_name query_id next_page %}">&raquo;</a></li>
		</ul>
	</div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

{% endblock %}
