{% extends "theme_bootstrap_base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
    <meta property="wb:webmaster" content="d7523e1718e48ebd" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block style_base %}
    <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
    <link href="{% static "css/site.css" %}" rel="stylesheet">
    <link href="{% static "css/docs.css" %}" rel="stylesheet">
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block site_brand %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block account_bar %}
{% endblock %}

{% block body%}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block script_base %}
    <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
